{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>
{% include 'Admin/sidebar.html.twig' %}

<main>
    <table class="table text-light align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>DateSortie</th>
                <th>Affiche</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
                <td>
                    <div class="col-5 mx-auto mt-3 image-container">
                            <img height=150px src="{{ asset('images/films/') ~ film.affiche }}">
                <td>{{ film.description }}</td>
                <td>
                    <a class='text-light' href="{{ path('app_film_show', {'id': film.id}) }}">show</a>
                    <a class='text-light' href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class='text-light' href="{{ path('app_film_new') }}">Create new</a>

{% endblock %}
